/* 基本样式 */
.markdown-body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 黑夜模式基本样式 */
.dark-mode .markdown-body {
  color: #fff; /* 设置文本颜色为纯白色 */
  background-color: #2e2e2e;
  box-shadow: none;
}

/* 标题样式 */
.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {
  margin-left: -10px;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: bold;
  position: relative; /* 确保伪元素相对于标题定位 */
  padding-left: 10px; /* 给标题留出空间显示竖线 */
}

.markdown-body h1::before, .markdown-body h2::before, .markdown-body h3::before, .markdown-body h4::before, .markdown-body h5::before, .markdown-body h6::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #409eff; /* 竖线的颜色 */
}

/* 黑夜模式标题样式 */
.dark-mode .markdown-body h1::before, .dark-mode .markdown-body h2::before, .dark-mode .markdown-body h3::before, .dark-mode .markdown-body h4::before, .dark-mode .markdown-body h5::before, .dark-mode .markdown-body h6::before {
  background-color: #b3c7e6; /* 黑夜模式下竖线的颜色 */
}

.markdown-body h1 {
  font-size: 2em;
  border-bottom: 2px solid #eaecef;
  padding-bottom: 0.3em;
}

.markdown-body h2 {
  font-size: 1.75em;
  border-bottom: 2px solid #eaecef;
  padding-bottom: 0.3em;
}

.markdown-body h3 {
  font-size: 1.5em;
}

.markdown-body h4 {
  font-size: 1.25em;
}

.markdown-body h5 {
  font-size: 1em;
}

.markdown-body h6 {
  font-size: 0.875em;
  color: #6a737d;
}

/* 黑夜模式标题颜色 */
.dark-mode .markdown-body h1, .dark-mode .markdown-body h2, .dark-mode .markdown-body h3, .dark-mode .markdown-body h4, .dark-mode .markdown-body h5, .dark-mode .markdown-body h6 {
  color: #fff; /* 设置标题颜色为纯白色 */
}

/* 段落样式 */
.markdown-body p {
  margin: 0.5em 0;
}

/* 链接样式 */
.markdown-body a {
  color: #0366d6;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
}

.markdown-body a:hover {
  color: #0056b3;
}

.markdown-body a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0366d6;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.markdown-body a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* 黑夜模式链接样式 */
.dark-mode .markdown-body a {
  color: #9ecbff;
}

.dark-mode .markdown-body a:hover {
  color: #6ab7ff;
}

.dark-mode .markdown-body a::after {
  background-color: #9ecbff;
}

/* 引用块样式 */
.markdown-body blockquote {
  margin: 0.8em 0;
  padding-left: 1em;
  color: #111; /* 修改颜色以提高对比度 */
  border-left: 0.25em solid #111; /* 修改边框颜色以提高对比度 */
  background-color: #ecf0f1; /* 设置背景颜色 */
  padding: 0.5em 1em;
  border-radius: 4px;
  white-space: pre-wrap; /* 自动换行 */
}

/* 黑夜模式引用块样式 */
.dark-mode .markdown-body blockquote {
  color: #fff; /* 设置文本颜色为白色 */
  border-left: 0.25em solid #fff; /* 设置边框颜色为白色 */
  background-color: #555; /* 设置背景颜色为较浅的深色 */
}

/* 自定义提示块样式 */
.markdown-body .important {
  background-color: #ffeb3b; /* 背景颜色 */
  border-left: 4px solid #fbc02d; /* 左边框颜色 */
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  font-weight: bold;
}

.markdown-body .warning {
  background-color: #ff9800; /* 背景颜色 */
  border-left: 4px solid #f57c00; /* 左边框颜色 */
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  font-weight: bold;
}

.markdown-body .info {
  background-color: #2196f3; /* 背景颜色 */
  border-left: 4px solid #1976d2; /* 左边框颜色 */
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  font-weight: bold;
}

.markdown-body .note {
  background-color: #e7f3fe; /* 背景颜色 */
  border-left: 4px solid #2196f3; /* 左边框颜色 */
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  font-weight: bold;
}



/* 黑夜模式下的自定义提示块样式 */
.dark-mode .markdown-body .important {
  background-color: #fbc02d; /* 背景颜色 */
  border-left: 4px solid #ffeb3b; /* 左边框颜色 */
  color: #000; /* 文本颜色 */
}

.dark-mode .markdown-body .warning {
  background-color: #f57c00; /* 背景颜色 */
  border-left: 4px solid #ff9800; /* 左边框颜色 */
  color: #000; /* 文本颜色 */
}

.dark-mode .markdown-body .info {
  background-color: #1976d2; /* 背景颜色 */
  border-left: 4px solid #2196f3; /* 左边框颜色 */
  color: #fff; /* 文本颜色 */
}

.dark-mode .markdown-body .note {
  background-color: #1976d2; /* 背景颜色 */
  border-left: 4px solid #2196f3; /* 左边框颜色 */
  color: #fff; /* 文本颜色 */
}

/* 代码块样式 */
.markdown-body pre {
  position: relative; /* 确保复制按钮相对于代码块定位 */
  background-color: #ecf0f1; /* 设置背景颜色 */
  color: #111; /* 设置文本颜色 */
  padding: 1em;
  border-radius: 6px;
  overflow: auto;
  line-height: 1.45;
  white-space: pre-wrap; /* 自动换行 */
}

.copy-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #409eff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  display: none; /* 默认隐藏 */
}

.markdown-body pre:hover .copy-button {
  display: block; /* 鼠标悬停时显示 */
}

/* 黑夜模式代码块样式 */
.dark-mode .markdown-body pre {
  background-color: #444; /* 设置背景颜色 */
  color: #fff; /* 设置文本颜色 */
  border: 1px solid #fff; /* 设置边框颜色 */
}

.dark-mode .copy-button {
  background: #000;
  color: #fff;
}

/* 内联代码块样式 */
.markdown-body code {
  background-color: #ecf0f1; /* 背景颜色 */
  color: #e83e8c; /* 文本颜色 */
  padding: 0.2em 0.4em;
  margin: 0;
  border-radius: 3px;
  font-size: 85%;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

/* 黑夜模式内联代码块样式 */
.dark-mode .markdown-body code {
  background-color: #444; /* 背景颜色 */
  color: #ff79c6; /* 文本颜色 */
}


/* 列表样式 */
.markdown-body ul, .markdown-body ol {
  margin: 0.5em 0;
  padding-left: 2em;
}

.markdown-body ul {
  list-style-type: disc; /* 实心圆 */
}

.markdown-body ol {
  list-style-type: decimal; /* 数字 */
}

/* 添加嵌套无序列表样式 */
.markdown-body ul ul {
  list-style-type: circle; /* 空心圆 */
}

/* 添加嵌套有序列表样式 */
.markdown-body ol ol {
  list-style-type: lower-alpha; /* 小写字母 */
}

.markdown-body ol ol ol {
  list-style-type: lower-roman; /* 小写罗马数字 */
}


/* 表格样式 */
.markdown-body table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
}

.markdown-body th, .markdown-body td {
  padding: 0.6em 1em;
  border: 1px solid #dfe2e5;
  text-align: center; /* 居中对齐 */
}

.markdown-body th {
  background-color: #f6f8fa;
  font-weight: bold;
}

/* 隔行背景颜色 */
.markdown-body tr:nth-child(even) {
  background-color: #dfe2e582; /* 灰色背景 */
}

/* 黑夜模式表格样式 */
.dark-mode .markdown-body th {
  background-color: #3e3e3e;
}

.dark-mode .markdown-body td {
  border: 1px solid #444;
}

/* 黑夜模式隔行背景颜色 */
.dark-mode .markdown-body tr:nth-child(even) {
  background-color: #444; /* 深灰色背景 */
}

/* 图片样式 */
.markdown-body img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

/* 任务列表样式 */
.markdown-body input[type="checkbox"] {
  margin-right: 0.5em;
  margin-left: -30px;
  transform: scale(1.2); /* 调整复选框的大小 */
}

.markdown-body .task-list-item {
  list-style-type: none; /* 移除默认的列表样式 */
  margin: 0.5em 0;
}

.markdown-body .task-list-item label {
  display: flex;
  align-items: center;
}

.markdown-body .task-list-item label span {
  margin-left: 0.5em;
}

/* 黑夜模式任务列表样式 */
.dark-mode .markdown-body input[type="checkbox"] {
  accent-color: #fff; /* 设置复选框的颜色 */
}

.dark-mode .markdown-body .task-list-item label span {
  color: #fff; /* 设置文本颜色 */
}

/* 代码高亮样式 */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #f6f8fa;
  border-radius: 6px;
}

.hljs-comment,
.hljs-quote {
  color: #6a737d;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #d73a49;
  font-weight: bold;
}

.hljs-literal,
.hljs-number,
.hljs-tag .hljs-attr {
  color: #005cc5;
}

.hljs-string,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #032f62;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #6f42c1;
  font-weight: bold;
}

.hljs-name,
.hljs-attribute {
  color: #22863a;
  font-weight: bold;
}

.hljs-regexp,
.hljs-link {
  color: #032f62;
}

.hljs-symbol,
.hljs-bullet {
  color: #e36209;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #6f42c1;
}

.hljs-meta {
  color: #005cc5;
}

.hljs-deletion {
  background: #ffeef0;
  color: #b31d28;
}

.hljs-addition {
  background: #f0fff4;
  color: #22863a;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/* 黑夜模式代码高亮样式 */
.dark-mode .hljs {
  background: #2d2d2d;
}

.dark-mode .hljs-comment,
.dark-mode .hljs-quote {
  color: #999;
}

.dark-mode .hljs-keyword,
.dark-mode .hljs-selector-tag,
.dark-mode .hljs-subst {
  color: #f92672;
}

.dark-mode .hljs-literal,
.dark-mode .hljs-number,
.dark-mode .hljs-tag .hljs-attr {
  color: #ae81ff;
}

.dark-mode .hljs-string,
.dark-mode .hljs-doctag,
.dark-mode .hljs-title,
.dark-mode .hljs-section,
.dark-mode .hljs-selector-id {
  color: #a6e22e;
}

.dark-mode .hljs-type,
.dark-mode .hljs-class .hljs-title {
  color: #66d9ef;
}

.dark-mode .hljs-name,
.dark-mode .hljs-attribute {
  color: #a6e22e;
}

.dark-mode .hljs-regexp,
.dark-mode .hljs-link {
  color: #e6db74;
}

.dark-mode .hljs-symbol,
.dark-mode .hljs-bullet {
  color: #fd971f;
}

.dark-mode .hljs-built_in,
.dark-mode .hljs-builtin-name {
  color: #66d9ef;
}

.dark-mode .hljs-meta {
  color: #fd971f;
}

.dark-mode .hljs-deletion {
  background: #f92672;
  color: #f8f8f0;
}

.dark-mode .hljs-addition {
  background: #a6e22e;
  color: #f8f8f0;
}

.dark-mode .hljs-emphasis {
  font-style: italic;
}

.dark-mode .hljs-strong {
  font-weight: bold;
}